.about {
    display: flex;
    justify-content: center;
    padding-top: 25px;

    .content {
        text-align: center;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 3px;

        h1 {
            color: rgb(150, 150, 150);
        }

        img {
            width: 800px;
            padding-top: 10px;
        }

        p {
            max-width: 800px;
            text-align: center;
            padding-top: 15px;
            padding-bottom: 15px;
            color: rgb(161, 161, 161);
        }
    }
}