.about {
    display: flex;
    justify-content: center;
    padding-top: 20px;

    .title {
        text-align: center;
        font-size: 14px;
        color: gray;
        text-transform: uppercase;
        letter-spacing: 3px;

        img {
            width: 800px;
        }
    }
}