.footer {
    margin: 100px 200px 20px 200px;

    .top {
        display: flex;
        gap: 50px;

        .item {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;
            text-align: justify;
            font-size: 14px;

            h1 {
                font-size: 15px;
                font-weight: 500;
                font-family: Arial;
                text-transform: uppercase;
                letter-spacing: 2px;
                color: #ffb9b9;
            }

            span {
                color: rgb(187, 187, 187);
                font-family: Verdana;
            }
        }
    }

    .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;

        .left {
            display: flex;
            align-items: center;

            .logo {
                color: #ff9f60;
                font-weight: bold;
                font-size: 26px;
                font-family: Times;
                letter-spacing: 2px;
            }

            .copyright {
                margin-left: 20px;
                font-size: 12px;
                color: gray;
                font-family: Verdana;
            }
        }

        .right {

            img {
                height: 50px;
            }
        }
    }
}