.navbar {
    height: 80px;

    .wrapper {
        padding: 15px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .item {
            display: flex;
            align-items: center;
            font-size: 16px;
            font-family: Arial;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: rgb(255, 171, 171);
        }

        .left {
            display: flex;
            align-items: center;
            gap: 25px;
        }
        .center {
            font-size: 40px;
            font-family: Times;
            font-weight: 600;
            color: rgb(255, 154, 114);
            letter-spacing: 3px;
        }
        .right {
            display: flex;
            align-items: center;
            gap: 25px;

            .icons {
                display: flex;
                gap: 20px;
                color: rgb(255, 171, 171);
                cursor: pointer;

                .cartIcon {
                    position: relative;

                    span {
                        font-size: 12px;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background-color: #aae0ae;
                        color: white;
                        position: absolute;
                        right: -10px;
                        top: -10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}